[settings]
{{ if .hasOp -}}
api_key = {{ onepasswordRead "op://AstroCapital/WakaTime/credential" }}
{{ end -}}
debug = false
hidefilenames = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$
