[Unit]
Description=Update system prerequisites and CLI tools
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/peter/.files/cli update
StandardOutput=journal
StandardError=journal
